<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  </head>
  <body>
    <h1>Add a Pokemon</h1>
    <form action="/pokemon" method="post">
      Name: <input type="text" name="name">
      Image: <input type="text" name="img">
      <input type="submit" name="Add Pokemon" value="Create Pokemon">
    </form>
  </body>
</html>
